<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Layout System </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="stylesheetLS.css"/>
        <link href="normalize.css" rel="stylesheet">
      </head>
    <body>
        <div id="contenedor">
        <div id="header">
            <header class="header">THE UNIVERSE</header>            
        </div>
        <div><p class="p">he Universe is commonly defined as the totality of existence.This includes planets, stars, galaxies, the contents of intergalactic space, the smallest subatomic particles, and all matter and energy, the majority of which are most likely in the form of dark matter and dark energy.
                The part of the Universe that we can see, referred to as the observable universe, is about 91 billion light-years (28×109 pc) in diameter at the present time.The size of the whole universe is not known and may be infinite.</p></div>
        <div id="section">
            <section>
            <div class="row clearfix">
                <div class="column third">
                    <div class="imagen1">
                        <p class="texto"> All existing things; the totality of space, stars, planets and other form of matter and energy; the world.</p>
                        <img id="imagen1" src="Foto2.jpg">
                    </div>
                </div>
                <div class="column third">
                    <div class="imagen1">
                        <p class="texto"> There are many competing theories about the ultimate fate of the Universe. Physicists remain unsure about what, if anything, preceded the Big Bang.</p>
                        <img id="imagen1" src="Foto3.jpg">
                    </div>
                </div>
                <div class="column third">
                    <div class="imagen1">
                        <p class="texto">Many refuse to speculate, doubting that any information from any such prior state could ever be accessible. </p>
                        <img id="imagen1" src="Foto7.jpg">
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="column third">
                    <div class="imagen1">
                        <p class="texto"> There are various multiverse hypotheses, in which some physicists have suggested that the Universe might be one among many universes that likewise exist</p>
                        <img id="imagen1" src="foto5.jpg">
                    </div>
                </div>
                <div class="column third">
                    <div class="imagen1">
                        <p class="texto"> The word universe derives from the Old French word univers, which in turn derives from the Latin word universum</p>
                        <img id="imagen1" src="Foto4.jpg">
                    </div>
                </div>
                <div class="column third">
                    <div class="imagen1">
                        <p class="texto"> According to the prevailing scientific model of the Universe, known as the Big Bang,the Universe expanded from an extremely hot, dense phase called the Planck epoch, a brief period extending from time zero to approximately 10−43 seconds (the Planck time)</p>
                        <img id="imagen1" src="Foto6.jpg"> 
                    </div>   
                </div>
            </div>            
            </section>
        </div>
        <div id="footer">
            <footer class="footer">Summer 2015</footer>
        </div>
    </div>
    </body>
</html>